<body>
<br><br>
    <mat-label class="result">= {{ result | number : '1.2-2'}}</mat-label>
    <div class="placement">
        <mat-card-title class="title">CALCULATOR</mat-card-title>
        <mat-card class="card">
            <div class="input">
                <mat-form-field style="width: 225px;" appearance="fill">
                    <mat-label>Input</mat-label>
                    <input type="number" name="no1" [(ngModel)]="no1" matInput>
                </mat-form-field>
                <mat-form-field style="margin-left: 25px; width: 225px;" appearance="fill">
                    <mat-label>Input</mat-label>
                    <input type="number" name="no2" [(ngModel)]="no2" matInput>
                </mat-form-field>
            </div>
            
            <button mat-raised-button (click)="add()">Add</button>
            <button style="margin-left: 50px;" mat-raised-button (click)="subtract()">Subtract</button>
            <br>
            <button mat-raised-button (click)="multiply()">Multiply</button>
            <button style="margin-left: 50px;" mat-raised-button (click)="divide()">Divide</button>
            <br>
            <button style="width: 450px; color: white; background-color: rgba(184, 21, 21, 0.938);" mat-raised-button (click)="allClear()">Clear</button>        
        </mat-card>
    </div>

</body>